<h1>Produtos</h1>
<div class="content">
<table *ngIf = "responseProduto">
    <thead>
        <td>Nome</td>
        <td>Descrição</td>
        <td>...</td>
        <td>...</td>
    </thead>   
        <tbody>
            <tr *ngFor="let produto of responseProdutos">
                <td>{{produto.name}}</td>
                <td>{{produto.descricao}}</td>
                <td><a routerLink="/">Editar</a></td>
                <td><a style="color: tomato;" (click)="delete()">Delete</a></td>
            </tr>
        </tbody>
</table>
</div>
